<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Sequelize SQLite3 Example</title>
    <meta name="description" content="Sequelize SQLite3 Example">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        T5 Ace's Open Arena Elo
      </h1>
    </header>

    <main>
      
      <p>Twitch User Name:</p>
      <section class="tusers">
        <ol id="tusers">
        </ol>
      </section>
<!--       <p><a href="/reset">Reset</a> | <a href="/clear">Clear</a></p> -->
    </main>


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
